Import('*')
from Distribute import distadd

distadd(env, 'src/editor/tools/SConscript')
distadd(env, 'src/editor/tools/SConscript.dist')
distadd(env, 'src/editor/tools/*.h')
distadd(env, 'src/editor/tools/*.cc')

