[Desktop Entry]
Version=1.0
Type=Application
Name=Widelands
Name[ko]=와이드랜드
GenericName=Strategy Game
GenericName[ar]=لعبه إستراتيجية
GenericName[bg]=Стратегическа игра
GenericName[br]=C'hoari Bellerezh
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Strategická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[el]=Παιχνίδι Στρατηγικής
GenericName[eo]=Strategia Ludo
GenericName[es]=Juego de estrategia
GenericName[eu]=Estrategia jokoa
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[fy]=Strategyspultsje
GenericName[gd]=Geama ro-innleachd
GenericName[he]=משחק אסטרטגיה
GenericName[hu]=Stratégiai játék
GenericName[id]=Permainan Strategi
GenericName[ig]=Egwuregwu atụmatụ
GenericName[it]=Gioco di strategia
GenericName[ja]=ストラテジーゲーム
GenericName[ko]=전략 게임
GenericName[la]=Ludus strategicae
GenericName[lt]=Strateginis žaidimas
GenericName[ms]=Permainan Strategi
GenericName[nds]=Taktisk Speel
GenericName[nl]=Strategiespel
GenericName[pl]=Gra strategiczna
GenericName[pt]=Jogo de Estratégia
GenericName[pt_BR]=Jogo de estratégia
GenericName[ro]=Joc de strategie
GenericName[ru]=Стратегическая игра
GenericName[sk]=Strategická hra
GenericName[sl]=Strateška igra
GenericName[sr]=Strateška igra
GenericName[sv]=Strategispel
GenericName[tr]=Strateji Oyunu
GenericName[uk]=Стратегічна гра
GenericName[zh_CN]=战略 游戏
GenericName[zh_TW]=策略遊戲
Comment=A real-time build-up strategy game
Comment[ar]=لعبة بناء إستراتيجية في الوقت الحقيقي
Comment[bg]=Стратегическа игра за изграждане на цивилизация в реално време
Comment[ca]=Un joc d'estratègia i construcció a temps real
Comment[cs]=Real-time budovatelská strategická hra
Comment[da]=Et realtids opbygningsstrategispil
Comment[de]=Echtzeitbasiertes Aufbau-Strategiespiel
Comment[eo]=Realtempa konstruada strategia ludo
Comment[es]=Un juego de estrategia y construcción en tiempo real
Comment[eu]=Denbora errealeko eraikuntza eta estrategia jokoa
Comment[fi]=Reaaliaikainen strategiapeli
Comment[fr]=Un jeu de stratégie et de construction en temps réel
Comment[fy]=In strategysk bouwspultsje mei rinnende tiid
Comment[gd]=Geama ro-innleachd togail fìor-ama
Comment[hu]=Valós idejű építkező stratégiai játék
Comment[id]=Sebuah permainan pembangunan strategi dalam waktu nyata
Comment[it]=Un gioco di costruzione e strategia in tempo reale
Comment[ja]=リアルタイム発展型ストラテジーゲーム
Comment[ko]=실시간 건설 전략 게임
Comment[la]=Ludus strategicae exstructionis in tempore vero
Comment[lt]=Realaus laiko strateginis žaidimas
Comment[ms]=Permainan strategi pembinaan masa-nyata
Comment[nds]=Een taktisk Speel över ’t Upbauen in Echt-Tied
Comment[nl]=Een realtime bouw strategiespel
Comment[pl]=Strategia czasu rzeczywistego skupiona na rozbudowie
Comment[pt]=Um jogo de construção estratégica em tempo real
Comment[pt_BR]=Um jogo em tempo real de estratégia e evolução
Comment[ro]=Un joc strategic de construire în timp real
Comment[ru]=Стратегия развития в реальном времени
Comment[sk]=Budovateľská stretegická hra v reálnom čase
Comment[sl]=Graditeljska strateška igra v realnem času
Comment[sr]=Graditeljska strateška igra u realnom vremenu
Comment[sv]=Ett uppbyggnadsstrategispel i realtid
Comment[tr]=Gerçek zamanlı inşa strateji oyunu
Comment[uk]=Стратегічна гра у режимі реального часу
Comment[zh_CN]=即时战略游戏
Comment[zh_TW]=一款即時演變的策略遊戲
Icon=org.widelands.Widelands
TryExec=widelands
Exec=widelands
Categories=Game;StrategyGame;
Keywords=Game;RTS;Real-time;Strategy;
Terminal=false
StartupNotify=true
StartupWMClass=widelands
X-Flatpak-RenamedFrom=widelands.desktop;org.widelands.widelands.desktop;
