# Scripting documentation ignores
/doc/sphinx/build/
/doc/sphinx/source/autogen*
/doc/sphinx/source/auxiliary.rst

# Local defaults for compile.sh
.compile*

# the compile.sh file creates some files, links and directories
/build
/data/datadirversion
update.sh
/widelands
wl_map*_info
wl_create_spritesheet
locale
VERSION

# Local KDevelop settings files
**/.kdev_include_paths

# Python compiled files.
*.pyc

# OS-X Meta Files
.DS_Store

# QT Creator settings
CMakeLists.txt.user*

# Visual Studio settings
/.vs
CMakeSettings.json

# Profilers
gmon.out

# Validation checks
po_validation
clang-tidy.log
