addons:
  apt:
    packages:
      - libboost-dev
      - libboost-regex-dev
      - libboost-system-dev
      - libboost-test-dev
      - libglew-dev
      - libicu-dev
      - libpng-dev
      - libsdl2-dev
      - libsdl2-image-dev
      - libsdl2-mixer-dev
      - libsdl2-ttf-dev
      - python-pip
      - zlib1g-dev
  homebrew:
    packages:
      - ccache
      - glew
      - sdl2
      - sdl2_image
      - sdl2_mixer
      - sdl2_ttf
    update: true

before_script:
  - >
    if [ "$TRAVIS_OS_NAME" = osx ]; then \
      # brew doesn't add a link by default
      brew link --force gettext && \
      # icu4c cannot be forced
      export ICU_ROOT="$(brew --prefix icu4c)" && \
      # add ccache to the PATH variable
      export PATH="/usr/local/opt/ccache/libexec:$PATH"; \
    fi
  - >
    if [ "$TRAVIS_DIST" == "trusty" ]; then \
      export DISPLAY=:99.0 && \
      sh -e /etc/init.d/xvfb start && \
      sleep 3; \
    fi

branches:
  only:
    - master

cache: ccache

jobs:
  include:
    - stage: tests
      name: "Codecheck Suite"
      script: ./.travis.sh codecheck
      cache: false
    - name: "Documentation Test"
      language: python
      cache: pip
      install: pip install sphinx
      script: ./.travis.sh documentation

    - stage: compile
      ### macOS BUILDS
      name: "DEBUG: macOS 10.14 with Xcode 10.3"
      os: osx
      osx_image: xcode10.3
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="ON"
    - name: "RELEASE: macOS 10.14 with Xcode 10.3"
      os: osx
      osx_image: xcode10.3
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
    - name: "DEBUG: macOS 10.13 with Xcode 9.4"
      os: osx
      osx_image: xcode9.4
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="ON"
    - name: "RELEASE: macOS 10.13 with Xcode 9.4"
      os: osx
      osx_image: xcode9.4
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
    - name: "DEBUG: macOS 10.12 with XCode 8.3"
      os: osx
      osx_image: xcode8.3
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="ON"
    - name: "RELEASE: macOS 10.12 with XCode 8.3"
      os: osx
      osx_image: xcode8.3
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"

    ### Linux BUILDs
    - name: "DEBUG: Ubuntu 18.04 with clang 7"
      os: linux
      dist: bionic
      compiler: clang
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="ON"
      services: xvfb
      cache: false
    - name: "RELEASE: Ubuntu 18.04 with clang 7"
      os: linux
      dist: bionic
      compiler: clang
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
      services: xvfb
      cache: false
    - name: "DEBUG: Ubuntu 18.04 with gcc 7.4"
      os: linux
      dist: bionic
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="OFF"
      services: xvfb
      cache: false
    - name: "RELEASE: Ubuntu 18.04 with gcc 7.4"
      os: linux
      dist: bionic
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
      services: xvfb
    - name: "DEBUG: Ubuntu 16.04 with gcc 5.4"
      os: linux
      dist: xenial
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="OFF"
      services: xvfb
      cache: false
    - name: "RELEASE: Ubuntu 16.04 with gcc 5.4"
      os: linux
      dist: xenial
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
      services: xvfb
    - name: "DEBUG: Ubuntu 14.04 with clang 3.4"
      os: linux
      dist: trusty
      compiler: clang
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="ON"
      cache: false
    - name: "RELEASE: Ubuntu 14.04 with clang 3.4"
      os: linux
      dist: trusty
      compiler: clang
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"
      cache: false
    - name: "DEBUG: Ubuntu 14.04 with gcc 4.8"
      os: linux
      dist: trusty
      env: BUILD_TYPE="Debug" BUILD_WEBSITE_TOOLS="OFF"
      cache: false
    - name: "RELEASE: Ubuntu 14.04 with gcc 4.8"
      os: linux
      dist: trusty
      env: BUILD_TYPE="Release" BUILD_WEBSITE_TOOLS="ON"

language: cpp

script: ./.travis.sh build

stages:
  - tests
  - compile
