os: osx
osx_image: xcode10.1

addons:
  apt:
    packages:
      - libboost-dev
      - libboost-regex-dev
      - libboost-system-dev
      - libboost-test-dev
      - libcurl4-gnutls-dev
      - libglew-dev
      - libicu-dev
      - libpng-dev
      - libsdl2-dev
      - libsdl2-image-dev
      - libsdl2-mixer-dev
      - libsdl2-ttf-dev
      - zlib1g-dev
  homebrew:
    packages:
      - ccache
      - glew
      - sdl2
      - sdl2_image
      - sdl2_mixer
      - sdl2_ttf
      - icu4c
    update: true

before_script:
  - >
    if [ "$TRAVIS_OS_NAME" = osx ]; then \
      # icu4c cannot be forced
      export ICU_ROOT="$(brew --prefix icu4c)" && \
      # add ccache and brew to the PATH variable
      export PATH="/usr/local/opt/ccache/libexec:/usr/local/opt/gettext/bin:$PATH"; \
    fi

branches:
  only:
    - master

cache: ccache

jobs:
  allow_failures:
    - name: "RELEASE: Xcode 10.1"
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON

    - name: "DEBUG: Xcode 10.1"
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON

language: cpp

script:
  - >
    mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE:STRING=$BUILD_TYPE -DOPTION_BUILD_TRANSLATIONS=$BUILD_TRANSLATIONS -DOPTION_BUILD_WEBSITE_TOOLS=$BUILD_WEBSITE_TOOLS -DOPTION_ASAN="OFF" -DOPTION_BUILD_CODECHECK="OFF" -DCMAKE_EXE_LINKER_FLAGS="-L/usr/local/opt/gettext/lib -lintl" -DCMAKE_CXX_FLAGS="-I/usr/local/opt/gettext/include" && make -k -j3
