language: cpp
script: bash -e .travis.sh
sudo: required
dist: trusty

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

# ignore this branch because it is only a mirror of master
branches:
  except:
    - _widelands_dev_widelands_trunk

matrix:
  include:
     - compiler: clang
       env: CLANG_VERSION="3.4" BUILD_TYPE="Debug"
     - compiler: clang
       env: CLANG_VERSION="3.5" BUILD_TYPE="Debug"
     - compiler: clang
       env: CLANG_VERSION="3.8" BUILD_TYPE="Debug"
     - compiler: clang
       env: CLANG_VERSION="3.9" BUILD_TYPE="Debug"
     - compiler: clang
       env: CLANG_VERSION="3.4" BUILD_TYPE="Release"
     - compiler: clang
       env: CLANG_VERSION="3.5" BUILD_TYPE="Release"
     - compiler: clang
       env: CLANG_VERSION="3.8" BUILD_TYPE="Release"
     - compiler: clang
       env: CLANG_VERSION="3.9" BUILD_TYPE="Release"
     - compiler: gcc
       env: GCC_VERSION="4.8" BUILD_TYPE="Debug"
     - compiler: gcc
       env: GCC_VERSION="4.9" BUILD_TYPE="Debug"
     - compiler: gcc
       env: GCC_VERSION="5" BUILD_TYPE="Debug"
     - compiler: gcc
       env: GCC_VERSION="6" BUILD_TYPE="Debug"
     - compiler: gcc
       env: GCC_VERSION="4.8" BUILD_TYPE="Release"
     - compiler: gcc
       env: GCC_VERSION="4.9" BUILD_TYPE="Release"
     - compiler: gcc
       env: GCC_VERSION="5" BUILD_TYPE="Release"
     - compiler: gcc
       env: GCC_VERSION="6" BUILD_TYPE="Release"
