# default values
os: linux
dist: xenial

addons:
  apt:
    packages:
      - libboost-dev
      - libboost-regex-dev
      - libboost-system-dev
      - libboost-test-dev
      - libglew-dev
      - libicu-dev
      - libpng-dev
      - libsdl2-dev
      - libsdl2-image-dev
      - libsdl2-mixer-dev
      - libsdl2-ttf-dev
      - zlib1g-dev
  homebrew:
    packages:
      - ccache
      - glew
      - sdl2
      - sdl2_image
      - sdl2_mixer
      - sdl2_ttf
    update: true

before_script:
  - >
    if [ "$TRAVIS_OS_NAME" = osx ]; then \
      # icu4c cannot be forced
      export ICU_ROOT="$(brew --prefix icu4c)" && \
      # add ccache and brew to the PATH variable
      export PATH="/usr/local/opt/ccache/libexec:/usr/local/opt/gettext/bin:$PATH"; \
    fi

branches:
  only:
    - master

cache: ccache

jobs:
  include:
    - stage: tests
      name: "Codecheck Suite"
      script: ./.travis.sh codecheck
      cache: false
    - name: "Documentation Test"
      language: python
      cache: pip
      addons:
        apt:
          packages:
            - python-pip
      install: pip install sphinx
      script: ./.travis.sh documentation
    - name: "Includes"
      language: python
      script: ./.travis.sh includes
      cache: false

    - stage: compiler
      name: "DEBUG: macOS 10.14 with Xcode 11.3"
      os: osx
      osx_image: xcode11.3
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
    - name: "RELEASE: macOS 10.14 with Xcode 11.3"
      os: osx
      osx_image: xcode11.3
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON

    # Separate stage to speed things up in case the regression test suite fails
    - stage: testsuite
      name: "DEBUG: Ubuntu 18.04 with gcc 9.1"
      os: linux
      dist: bionic
      cache: false
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=gcc-9 CXX=g++-9
      services: xvfb
    - name: "DEBUG: Ubuntu 14.04 with gcc 4.8"
      os: linux
      dist: trusty
      cache: false
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      before_script: 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'
    - name: "RELEASE: Ubuntu 18.04 with gcc 9.1"
      os: linux
      dist: bionic
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON CC=gcc-9 CXX=g++-9
      services: xvfb
    - name: "RELEASE: Ubuntu 14.04 with gcc 4.8"
      os: linux
      dist: trusty
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
      before_script: 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'

    - stage: build
    ### DEBUG BUILDS
      name: "DEBUG: Ubuntu 18.04 with clang 9"
      os: linux
      dist: bionic
      compiler: clang
      cache: false
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-9 CXX=clang++-9
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-9'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-9'
    - name: "DEBUG: Ubuntu 18.04 with clang 8"
      os: linux
      dist: bionic
      compiler: clang
      cache: false
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-8
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-8 CXX=clang++-8
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-8'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-8'
    - name: "DEBUG: Ubuntu 18.04 with clang 7"
      os: linux
      dist: bionic
      compiler: clang
      cache: false
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
    - name: "DEBUG: Ubuntu 14.04 with clang 5"
      os: linux
      dist: trusty
      compiler: clang
      cache: false
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
        - 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'
    - name: "DEBUG: Ubuntu 18.04 with gcc 7.4"
      os: linux
      dist: bionic
      cache: false
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb
    - name: "DEBUG: Ubuntu 16.04 with gcc 5.4"
      os: linux
      dist: xenial
      cache: false
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb
    - name: "DEBUG: macOS 10.13 with Xcode 10.1"
      os: osx
      osx_image: xcode10.1
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=OFF
    ### RELEASE BUILDS
    - name: "RELEASE: Ubuntu 18.04 with clang 9"
      os: linux
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON CC=clang-9 CXX=clang++-9
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-9'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-9'
    - name: "RELEASE: Ubuntu 18.04 with clang 8"
      os: linux
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-8
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON CC=clang-8 CXX=clang++-8
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-8'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-8'
    - name: "RELEASE: Ubuntu 18.04 with clang 7"
      os: linux
      dist: bionic
      compiler: clang
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
    - name: "RELEASE: Ubuntu 14.04 with clang 5"
      os: linux
      dist: trusty
      compiler: clang
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
        - 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'
    - name: "RELEASE: Ubuntu 18.04 with gcc 7.4"
      os: linux
      dist: bionic
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
      services: xvfb
    - name: "RELEASE: Ubuntu 16.04 with gcc 5.4"
      os: linux
      dist: xenial
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON
      services: xvfb
    - name: "RELEASE: macOS 10.13 with Xcode 10.1"
      os: osx
      osx_image: xcode10.1
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=OFF
  allow_failures:
    - name: "Includes"

language: cpp

script: ./.travis.sh build

stages:
  - tests
  - compiler
  - testsuite
  - build
