# default values
os: linux
dist: xenial

addons:
  apt:
    packages:
      - libboost-dev
      - libboost-regex-dev
      - libboost-system-dev
      - libboost-test-dev
      - libglew-dev
      - libicu-dev
      - libpng-dev
      - libsdl2-dev
      - libsdl2-image-dev
      - libsdl2-mixer-dev
      - libsdl2-ttf-dev
      - zlib1g-dev
  homebrew:
    packages:
      - ccache
      - glew
      - sdl2
      - sdl2_image
      - sdl2_mixer
      - sdl2_ttf
      - icu4c
    update: true

before_script:
  - >
    if [ "$TRAVIS_OS_NAME" = osx ]; then \
      # icu4c cannot be forced
      export ICU_ROOT="$(brew --prefix icu4c)" && \
      # add ccache and brew to the PATH variable
      export PATH="/usr/local/opt/ccache/libexec:/usr/local/opt/gettext/bin:$PATH"; \
    fi

branches:
  only:
    - master

cache: ccache

jobs:
  include:
    ### Codecheck
    - stage: tests
      name: "Codecheck Suite"
      script: ./.travis.sh codecheck
      cache: false

    - name: "Documentation Test"
      language: python
      cache: pip
      addons:
        apt:
          packages:
            - python-pip
            - libicu-dev
      install: pip install sphinx
      script: ./.travis.sh documentation

    - name: "Includes"
      language: python
      script: ./.travis.sh includes
      cache: false

    ### Compile something to fail early
    - stage: macos
      name: "RELEASE: Xcode 10.1"
      os: osx
      osx_image: xcode10.1
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON

    - name: "DEBUG: Xcode 10.1"
      os: osx
      osx_image: xcode10.1
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON

    ### Separate stage to speed things up in case the regression test suite fails
    ### Building on the oldest and newest gcc
    - stage: testsuite
    ### RELEASE BUILDS
      name: "RELEASE: gcc 5"
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb

    - name: "RELEASE: gcc 10"
      dist: focal
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-10
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON CC=gcc-10 CXX=g++-10
      services: xvfb
    ### DEBUG BUILDS
    - name: "DEBUG: gcc 5"
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb

    - name: "DEBUG: gcc 10"
      dist: focal
      addons:
        apt:
          sources:
            - sourceline: 'ppa:ubuntu-toolchain-r/test'
          packages:
            - g++-10
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=ON BUILD_WEBSITE_TOOLS=ON CC=gcc-10 CXX=g++-10
      services: xvfb

    ### Build on remaining Linux configurations, with translations off
    - stage: build
    ### RELEASE BUILDS
      name: "RELEASE: clang 5"
      dist: trusty
      compiler: clang
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
        - 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'

    - name: "RELEASE: clang 7"
      dist: bionic
      compiler: clang
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'

    - name: "RELEASE: clang 8"
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-8
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-8 CXX=clang++-8
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-8'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-8'

    - name: "RELEASE: clang 9"
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-9 CXX=clang++-9
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-9'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-9'

    # GCC 6 is failing with a boost::regex problem. Let's revisit after updating to std::regex.

    - name: "RELEASE: gcc 9"
      dist: focal
      env: BUILD_TYPE=Release BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb

    ### DEBUG BUILDS
    - name: "DEBUG: clang 5"
      dist: trusty
      compiler: clang
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'
        - 'export DISPLAY=:99.0 && sh -e /etc/init.d/xvfb start && sleep 3'

    - name: "DEBUG: clang 7"
      dist: bionic
      compiler: clang
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++'

    - name: "DEBUG: clang 8"
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-8 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-8
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-8 CXX=clang++-8
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-8'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-8'

    - name: "DEBUG: clang 9"
      dist: bionic
      compiler: clang
      addons:
        apt:
          sources:
            - sourceline: 'deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
            - sourceline: 'deb-src http://apt.llvm.org/bionic/ llvm-toolchain-bionic-9 main'
              key_url: 'https://apt.llvm.org/llvm-snapshot.gpg.key'
          packages:
            - clang-9
            - libboost-dev
            - libboost-regex-dev
            - libboost-system-dev
            - libboost-test-dev
            - libglew-dev
            - libicu-dev
            - libpng-dev
            - libsdl2-dev
            - libsdl2-image-dev
            - libsdl2-mixer-dev
            - libsdl2-ttf-dev
            - zlib1g-dev
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON CC=clang-9 CXX=clang++-9
      services: xvfb
      before_script:
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang-9'
        - 'sudo ln -s /usr/bin/ccache /usr/lib/ccache/clang++-9'

    # GCC 6 is failing with a boost::regex problem. Let's revisit after updating to std::regex.

    - name: "DEBUG: gcc 9"
      dist: focal
      env: BUILD_TYPE=Debug BUILD_TRANSLATIONS=OFF BUILD_WEBSITE_TOOLS=ON
      services: xvfb

language: cpp

script: ./.travis.sh build

stages:
  - tests
  - macos
  - testsuite
  - build
