# pip dependencies for building the documentation
#
# You should install these packages from your distribution's package repository if you can,
# and only use pip if they are not available.
#
# usage:
#   pip install -r requirements.txt

sphinxcontrib-serializinghtml
sphinx
