/*
 * Copyright (C) 2006-2014 by the Widelands Development Team
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 *
 */
 
#include "wlversion.h"

#include <windows.h> // included for version info constants

A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "../WL.ico"

// SUPPORT FOR WINDOWS XP THEMES:
// THIS WILL MAKE THE PROGRAM USE THE COMMON CONTROLS
// LIBRARY VERSION 6.0 (IF IT IS AVAILABLE)
1 24 "WL.exe.Manifest"

//
// TO CHANGE VERSION INFORMATION, EDIT  OPTIONS BELOW...
//
1 VERSIONINFO
FILEVERSION 0,0,0,18
PRODUCTVERSION 0,0,0,18
FILETYPE VFT_APP
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "080904E4"
		 {
			 VALUE "CompanyName", "The Widelands Development Team"
			 VALUE "FileVersion", BUILD_ID
			 VALUE "FileDescription", "Widelands - realtime strategy game"
			 VALUE "InternalName", "WL"
			 VALUE "LegalCopyright", "GPL v2"
			 VALUE "WWW", "http://www.widelands.org"
             VALUE "License", "Gnu GPL v2"
			 VALUE "OriginalFilename", "widelands"
			 VALUE "ProductName", "Widelands - an Open-Source realtime strategy game"
			 VALUE "ProductVersion", BUILD_ID
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0809, 1252
	 }
}

