[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Widelands
GenericName=Strategy Game
GenericName[bg]=Стратегическа игра
GenericName[ca]=Joc d'estratègia
GenericName[cs]=Stragická hra
GenericName[da]=Strategispil
GenericName[de]=Strategiespiel
GenericName[eu]=Estrategiako jokoa
GenericName[fr]=Jeu de stratégie
GenericName[gd]=Geama ro-innleachd
GenericName[he]=משחק אסטרטגיה
GenericName[hu]=Stratégia
GenericName[it]=Gioco di strategia
GenericName[ru]=Стратегическая игра
GenericName[sk]=Strategická hra
Comment=A real-time build-up strategy game
Comment[bg]=Стратегическа игра за изграждане на цивилизация в реално време
Comment[ca]=Un joc d'estratègia i construcció a temps real 
Comment[cs]=Real-time budovací strategická hra
Comment[da]=Et realtids opbygningsstrategispil
Comment[de]=Echtzeitbasiertes Aufbau-Strategiespiel
Comment[fr]=Un jeu de stratégie et de construction en temps réel 
Comment[gd]=Geama ro-innleachd togail fìor-ùine
Comment[sk]=Budovateľská stretegická hra v reálnom čase
Icon=/usr/share/games/widelands/data/images/logos/wl-ico-64.png
TryExec=widelands
Exec=widelands
Categories=Application;Game;StrategyGame;
