Import('*')
from Distribute import distadd

distadd(env, 'src/SConscript')
distadd(env, 'src/SConscript.dist')
distadd(env, 'src/*.h')
distadd(env, 'src/*.cc')
distadd(env, 'src/*.default')

SConscript('ai/SConscript.dist')
SConscript('economy/SConscript.dist')
SConscript('editor/SConscript.dist')
SConscript('events/SConscript.dist')
SConscript('game_io/SConscript.dist')
SConscript('graphic/SConscript.dist')
SConscript('io/SConscript.dist')
SConscript('logic/SConscript.dist')
SConscript('map_io/SConscript.dist')
SConscript('network/SConscript.dist')
SConscript('profile/SConscript.dist')
SConscript('sound/SConscript.dist')
SConscript('trigger/SConscript.dist')
SConscript('ui_basic/SConscript.dist')
SConscript('ui_fsmenu/SConscript.dist')
SConscript('wui/SConscript.dist')

