Import('*')
from Distribute import distadd

distadd(env, 'src/SConscript')
distadd(env, 'src/SConscript.dist')
distadd(env, 'src/*.h')
distadd(env, 'src/*.cc')
distadd(env, 'src/*.default')

SConscript('editor/SConscript.dist')
SConscript('ui/ui_basic/SConscript.dist')
SConscript('ui/ui_fs_menus/SConscript.dist')
SConscript('io/SConscript.dist')
SConscript('sound/SConscript.dist')
SConscript('trigger/SConscript.dist')
SConscript('events/SConscript.dist')

