name: Clang-Tidy

on:
  push:
    branches: [ master, stacked-workflows ]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Installing dependencies
      run: |
        sudo apt install git cmake g++ gcc gettext libboost-dev libboost-regex-dev libboost-system-dev libboost-test-dev libglew-dev libpng-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev python zlib1g-dev clang-tidy -y
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Check
      run: ./clang-tidy.sh
    - name: Report
      run: utils/check_clang_tidy_results.py clang-tidy.log
