name: Clang-Tidy

on:
  workflow_run:
    workflows: ["Formatting your code"]
    branches: [ master, stacked-workflows ]
    pull_request:
      types: [ opened, synchronize ]
    types:
      - completed

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - name: Installing dependencies
      run: |
        sudo apt install git cmake g++ gcc gettext libboost-dev libboost-regex-dev libboost-system-dev libboost-test-dev libglew-dev libpng-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev python zlib1g-dev clang-tidy -y
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Check
      run: |
        export CC=/usr/bin/clang
        export CXX=/usr/bin/clang++
        mkdir build && pushd build
        cmake -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..
        python ../utils/run-clang-tidy.py -checks=-*,*braces*,cert*,clang-analyzer*,cppcoreguidelines-pro-type-static-cast-downcast,google*,performance* > ../clang-tidy.log
        popd
    - name: Report
      run: utils/check_clang_tidy_results.py clang-tidy.log
