name: Deployment for MS-Windows
on:
  pull_request:
    types: [ opened, synchronize ]

jobs:
  clang_tidy:
    runs-on: ubuntu-latest
    steps:
    - name: Installing dependencies
      run: |
        sudo apt install git cmake g++ gcc gettext libboost-dev libboost-regex-dev libboost-system-dev libboost-test-dev libglew-dev libpng-dev libsdl2-dev libsdl2-image-dev libsdl2-mixer-dev libsdl2-ttf-dev python zlib1g-dev clang-tidy -y
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Check
      run: ./clang-tidy.sh
    - name: Report
      run: utils/check_clang_tidy_results.py clang-tidy.log

  compile:
    needs: [clang_tidy]
    strategy:
      matrix:
        config:
          - Release
          - Debug
        arch:
          - x64
          - x86
    name: ${{ matrix.config }} ${{ matrix.arch }} Build
    runs-on: windows-latest
    steps:
    - name: Installing dependencies
      run: |
        $env:Path += ";C:\msys64\usr\bin"
        pacman.exe --noconfirm -Syyuu
        pacman.exe --noconfirm -Syyuu
        if ("${{ matrix.arch }}" -Match "x64") {
          $env:archname = "x86_64"
        } else {
          $env:archname = "i686"
        }
        pacman.exe --noconfirm -S mingw-w64-$env:archname-ninja mingw-w64-$env:archname-SDL2_ttf mingw-w64-$env:archname-SDL2_mixer mingw-w64-$env:archname-SDL2_image mingw-w64-$env:archname-glbinding mingw-w64-$env:archname-boost
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 1
    - name: Compiler
      run: |
        if ("${{ matrix.arch }}" -Match "x64") {
          $env:bits = "64"
        } else {
          $env:bits = "32"
        }
        $env:Path = "C:/msys64/mingw$env:bits/include;C:/msys64/mingw$env:bits/lib;C:/msys64/usr/bin;C:/msys64/mingw$env:bits/bin;$env:Path"
        $env:CC = "C:/msys64/mingw$env:bits/bin/gcc.exe"
        $env:CXX = "C:/msys64/mingw$env:bits/bin/g++.exe"
        mkdir $env:GITHUB_WORKSPACE\build
        cd $env:GITHUB_WORKSPACE\build
        cmake.exe -G Ninja .. -DCMAKE_BUILD_TYPE=${{ matrix.config }} -DOPTION_BUILD_WEBSITE_TOOLS=OFF -DOPTION_BUILD_TRANSLATIONS=ON -DOPTION_BUILD_TESTS=ON -DOPTION_ASAN=OFF -DUSE_XDG=OFF -DOPTION_BUILD_CODECHECK=OFF -DUSE_FLTO_IF_AVAILABLE=OFF -DCMAKE_JOB_POOLS="linking=1" -DCMAKE_JOB_POOL_LINK=linking -DOPTION_BUILD_WINSTATIC=ON -DPNG_LIBRARY_RELEASE=C:/msys64/mingw$env:bits/lib/libpng.a -DSDL2_IMAGE_LIBRARY=C:/msys64/mingw$env:bits/lib/libSDL2_image.a -DZLIB_LIBRARY_RELEASE=C:/msys64/mingw$env:bits/lib/libz.a -DSDL2_TTF_LIBRARY=C:/msys64/mingw$env:bits/lib/libSDL2_ttf.a -DSDL2_MIXER_LIBRARY=C:/msys64/mingw$env:bits/lib/libSDL2_mixer.a -DSDL2MAIN_LIBRARY=C:/msys64/mingw$env:bits/lib/libSDL2main.a -DSDL2_LIBRARY=C:/msys64/mingw$env:bits/lib/libSDL2.a -DICU_UC_LIBRARY_RELEASE=C:/msys64/mingw$env:bits/lib/libicuuc.a -DICU_DT_LIBRARY_RELEASE=C:/msys64/mingw$env:bits/lib/libicudt.a -DINTL_LIBRARY=C:/msys64/mingw$env:bits/lib/libintl.a -DGLEW_LIBRARY=C:/msys64/mingw$env:bits/lib/libglew32.a
        cmake.exe --build .
        strip -sv ./src/widelands.exe
    - name: InnoSetup
      run: |
        cd $env:GITHUB_WORKSPACE
        # Environment variables needed by our InnoSetup script
        if ("${{ matrix.arch }}" -Match "x64") {
          $env:PLATFORM = "x64"
          $env:MINGWPATH = "C:\msys64\mingw64\bin"
        } else {
          $env:PLATFORM = "x86"
          $env:MINGWPATH = "C:\msys64\mingw32\bin"
        }
        $env:CONFIGURATION = "${{ matrix.config }}"
        $env:APPVEYOR_BUILD_FOLDER = $env:GITHUB_WORKSPACE
        $env:APPVEYOR_BUILD_VERSION = "Widelands-${{ github.sha }}-${{ matrix.config }}-${{ matrix.arch }}"
        strip.exe -sv .\build\src\widelands.exe
        ISCC.exe /o$env:GITHUB_WORKSPACE /fWidelands-${{ github.sha }}-${{ matrix.config }}-${{ matrix.arch }} $env:GITHUB_WORKSPACE\utils\win32\innosetup\Widelands.iss
    - name: Uploading installer
      uses: actions/upload-artifact@v2
      with:
        name: Widelands ${{ matrix.config }} ${{ matrix.arch }} Installer
        path: ${{ github.workspace }}\Widelands-${{ github.sha }}-${{ matrix.config }}-${{ matrix.arch }}.exe
